@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
*{
    font-family: "IBM Plex Mono", monospace;
}

html,body{
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background: black;
}

body > div{
    height: calc(100vh - 50px);
    color: rgb(0, 255, 0);
    background: black;

}

body > input{
    height: 30px;
    color: rgb(0, 255, 0);
    background: black;
    border: none !important;
    padding: 10px;
    caret-shape:block;
    caret-color: rgb(0, 255, 0);

}

body > input:active, body > input:focus{
    border: none !important;
    outline: none !important;
}